# Env / Secrets
.env
*.local.yml
*.local.properties

# Docker volumes (database volume)
**/mariadb_data/
**/data/

# OS / editor
.DS_Store
.vscode/
.idea/

# Java / Maven
**/target/
**/.classpath
**/.project
**/.settings/

# logs
*.log
